body{
    background-image: url(images/bg.jpg)
    }
.full-width{
    width:100%;

}
.fixed-width{
    width:1230px;
    margin:auto;
    background-color: rgba(15,15,15,.6);
}
.col-bar{
    color:#fff;
    font-size:24px;
    letter-spacing: 2px;
    font-family: 'Passion One', cursive;
    border-radius:8px 8px 0 0;
    width:1200px;
    margin: auto;
    height:30px;
    line-height: 30px;
    text-indent: 30px;
    background-image: linear-gradient(0deg,rgba(10,10,10,.9)25%,rgba(100,100,100,.9)50%,rgba(10, 10, 10, .9)100%);
   
}
.col-content{
    color:#fff;
    width:1200px;
    margin:auto;
    background-color: rgba(0,0,0,.5);
    padding:15px; 
    border-radius: 0 0 8px 8px;
    border-top:2px solid #000;
    }
.col-content p{
    font-size:18px;
    padding: 0 15px;
   line-height: 22px;
    text-indent: 25px;
/*    width: 1200px;*/
    margin:auto;
    }